<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Git-A-Friend</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/bootstrap/css/starter-template.css" rel="stylesheet">
    <link href="static/userpagedisp.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/popdiv.js"></script>

    <style>

      div.pop-up {
      display: none;
      position: absolute;
      width: 600px;
      padding: 10px;
    }

    </style>

  </head>

  <body>
  <form id='myform' method='get' action='userpage'>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Git A Friend</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <!-- <li><a href="#about">Find friends on Github</a></li> -->
            <li><a href="https://slid.es/bharatkunduri/git-a-friend">Slides</a></li>
            <li><a href="mailto:bharatr@vt.edu">Contact</a></li>
            <li><a href="https://github.com/bharatreddy/gitafriend">Project on Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">
    <div class="row">

      <a href="https://github.com/{{gitfriends[0]}}" target="_blank" dispay="none" id="trigger1">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 1             
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[0] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[0] }}.
              <br> number of followers : {{ nFlwrList[0] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[1]}}" target="_blank" dispay="none" id="trigger2">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 2             
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[1] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[1] }}.
              <br> number of followers : {{ nFlwrList[1] }}.
            </p>
          </div>
        </div>
      </div> 
      </a> 

      <a href="https://github.com/{{gitfriends[2]}}" target="_blank" dispay="none" id="trigger3">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 3            
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[2] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[2] }}.
              <br> number of followers : {{ nFlwrList[2] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[3]}}" target="_blank" dispay="none" id="trigger4">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 4             
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[3] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[3] }}.
              <br> number of followers : {{ nFlwrList[3] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

    </div>

    <div class="row">

      <a href="https://github.com/{{gitfriends[4]}}" target="_blank" dispay="none" id="trigger5">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 5             
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[4] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[4] }}.
              <br> number of followers : {{ nFlwrList[4] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[5]}}" target="_blank" dispay="none" id="trigger6">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 6            
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[5] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[5] }}.
              <br> number of followers : {{ nFlwrList[5] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[6]}}" target="_blank" dispay="none" id="trigger7">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 7            
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[6] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[6] }}.
              <br> number of followers : {{ nFlwrList[6] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[7]}}" target="_blank" dispay="none" id="trigger8">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 8           
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[7] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[7] }}.
              <br> number of followers : {{ nFlwrList[7] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

    </div>

    <div class="row">

      <a href="https://github.com/{{gitfriends[8]}}" target="_blank" dispay="none" id="trigger9">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 9         
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[8] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[8] }}.
              <br> number of followers : {{ nFlwrList[8] }}.
            </p>
          </div>
        </div>
      </div>  
      </a>

      <a href="https://github.com/{{gitfriends[9]}}" target="_blank" dispay="none" id="trigger10">
      <div class="col-xs-3">
        <div class="offer offer-radius offer-danger">
          <div class="shape">
            <div class="shape-text">
              User 10          
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
              {{ nameList[9] }}
            </h3>           
            <p>
              Active Since : {{ startdateList[9] }}.
              <br> number of followers : {{ nFlwrList[9] }}.
            </p>
          </div>
        </div>
      </div>
      </a>  
    </div>
  </div>
  
  <!-- Hidden Pop up divs -->
<div class="panel panel-primary pop-up" id='pop-up1'>
  <div class="panel-body">
    {{ cmnFtrsList[0] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up2'>
  <div class="panel-body">
    {{ cmnFtrsList[1] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up3'>
  <div class="panel-body">
    {{ cmnFtrsList[2] | safe }}
  </div>
</div>
    
<div class="panel panel-primary pop-up" id='pop-up4'>
  <div class="panel-body">
    {{ cmnFtrsList[3] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up5'>
  <div class="panel-body">
    {{ cmnFtrsList[4] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up6'>
  <div class="panel-body">
    {{ cmnFtrsList[5] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up7'>
  <div class="panel-body">
    {{ cmnFtrsList[6] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up8'>
  <div class="panel-body">
    {{ cmnFtrsList[7] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up9'>
  <div class="panel-body">
    {{ cmnFtrsList[8] | safe }}
  </div>
</div>

<div class="panel panel-primary pop-up" id='pop-up10'>
  <div class="panel-body">
    {{ cmnFtrsList[9] | safe }}
  </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-1.10.2.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </form>
  </body>
</html>
